# Ignore everything by default
*
!.gitignore
# Allow these top-level files/folders
!backend/
!skillsphere-frontend/

# Inside backend: ignore everything except App.js
backend/*
!backend/App.js

# Inside skillsphere-frontend: allow only src and public
skillsphere-frontend/*
!skillsphere-frontend/src/
!skillsphere-frontend/public/

