# Ignore everything by default
*

# Do not ignore this .gitignore file
!.gitignore

# Allow the database folder and schema.sql
!database/
!database/schema.sql

# Allow the client and server folders
!client/
!server/

# Allow the .env file in the server folder
# Inside the server folder: ignore everything except specific files and folders
server/*
!server/index.js
!server/config
!server/config/**
!server/controllers 
!server/controllers/** 
!server/models
!server/models/** 
!server/routes
!server/routes/**
!server/.env

# Inside the client folder: ignore everything except src and public
client/*
!client/src/** 
!client/src
!client/public/** 
!client/public
!client/index.html

!client/package.json
!server/package.json